.UserAds h2 {
  text-align: center;
  margin-top: 30px;
}
.PublicAdContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.NoAd {
  margin-top: 40px;
  text-align: center;
}

.UserAds i {
  background-color: #f45a7f;
  color: white;
  padding: 12px 14.3px;
  border-radius: 50%;
  font-size: 1.5em;
  position: fixed;
  z-index: 200;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

@media (max-width: 425px) {
  .UserAds i {
    font-size: 1.2em;
  }
}
